.ios, .md {
    page-dashboard {
        
        ion-content {
            background-image: url('../assets/imgs/onboarding_bg.png');
        }
        p, h2, h3 {
            color: #fff; 
        }
        
        .details {
            margin-top: 35vh;  
        }

        .outcome {
            margin-top: 20vh;
        }

        .explain {
            padding-top: 10vh; 
        }

        .result #top {
            font-weight: 300; 
            font-size: 2.7rem; 
        }

        .explain #top {
            font-weight: 300; 
            font-size: 2.2rem; 
        }
    
        .title-box {
            display: block;
        }        

        .title-box #bottom {
            font-weight: 700; 
            font-size: 3.1rem; 
        }

        .title-box #top {
            font-weight: 300; 
            font-size: 2.7rem; 
        }


        .bottom-title {
            padding-top: 29vh; 
            font-size: 1.5rem;  
        }

        // Animations
        @-webkit-keyframes slideBig {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.05);
            }
            100% {
              transform: scale(1); 
            }
         }

         .slide-big {
             animation-name: slideBig;
             animation-duration: 2.1s; 
             animation-iteration-count: infinite;
         }
    } 
}
