<ion-content padding scrollbar-y-auto>
  <div class="details">
    
    <ion-col *ngIf="result$ | async as result">
      <h3>Is it a human?</h3>
      <h2 *ngIf="result.human === true" color="secondary">Yes. It is a human!</h2>
       
      <h3>Labels:</h3>
      <ion-chip color="secondary" *ngFor="let label of result.labels">
        <ion-label>{{ label }}</ion-label>
      </ion-chip>
    </ion-col>

    <p text-center class="bottom-title" 
      [ngClass]="{'slide-big': shakeButton}" 
      (click)="captureAndUpload()">Upload Image</p>
  </div>

</ion-content>


  

